[Unit]
Description=HelloReceiver
After=network.target

[Service]
WorkingDirectory=/var/lib/hello-tx-rx/rx
ExecStart=/usr/bin/python3 -B /var/lib/hello-tx-rx/rx/app_rx.py
ExecStop=pkill app_rx.py

[Install]
WantedBy=multi-user.target

