[Unit]
Description=HelloFirewallOpener
After=hello_tx.service

[Service]
WorkingDirectory=/home/$(id -un)/hello/
ExecStart=/usr/bin/bash /home/$(id -un)/hello/open_firewall.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target

