[Unit]
Description=HelloFirewallOpener
After=hello_tx.service

[Service]
WorkingDirectory=/var/lib/hello-tx-rx
ExecStart=/usr/bin/bash /var/lib/hello-tx-rx/open_firewall.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target

