[Unit]
Description=HelloSender
After=hello_rx.service

[Service]
WorkingDirectory=/var/lib/hello-tx-rx/tx
ExecStart=/usr/bin/python3 -B /var/lib/hello-tx-rx/tx/app_tx.py
ExecStop=pkill app_tx.py

[Install]
WantedBy=multi-user.target

